<!DOCTYPE html>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<html>
<head>
  <title>Chotech</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<nav>
  <div class="nav-wrapper blue darken-3 z-depth-1">
    <a href="#" class="brand-logo">Chợ Tech</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Chợ Tech</a></li>
      <li><a href="#">Tin mới</a></li>
      <li><a href="#">Hỗ trợ</a></li>
      <li><a href="#">Đăng nhập</a></li>
      <li><a href="#">Đăng ký</a></li>
    </ul>
  </div>
</nav>
  <%= yield %>


</body>

</html>
